@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgba(30, 26, 61, 0.787);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}